@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap";
body.light-theme {
  --app-background: #f9fefd;
  --subtle-background: #f2fbf9;
  --item: #ddf9f2;
  --item-hover: #c8f4e9;
  --item-active: #b3ecde;
  --static-border: #9ce0d0;
  --interactive-border: #7ecfbd;
  --active-border: #4cbba5;
  --action: #86ead4;
  --action-hover: #7de0cb;
  --low-text: #027864;
  --high-text: #16433c;
  --button-text: #16433c;
  --transparent-background: rgba(249 254 253 0.6);
}
body.dark-theme {
  --app-background: #0e1515;
  --subtle-background: #0f1b1b;
  --item: #092c2b;
  --item-hover: #003a38;
  --item-active: #004744;
  --static-border: #105650;
  --interactive-border: #1e685f;
  --active-border: #277f70;
  --action: #86ead4;
  --action-hover: #a8f5e5;
  --low-text: #58d5ba;
  --high-text: #c4f5e1;
  --button-text: #16433c;
  --transparent-background: rgba(14 21 21 0.6);
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes element-click {
    0% {
      left: -100%;
      opacity: 0%;
    }
    100% {
      left: 0%;
      opacity: 100%;
    }
  }
  @keyframes text-fade-in {
    to {
      translate: 0 0;
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes fade-out {
    50%, 100% {
      opacity: 0;
      translate: 0 -40px;
    }
  }
  @keyframes hero-background-animation {
    85%, 100% {
      opacity: 0;
      scale: 3;
    }
  }
  @keyframes image-fade-in {
    to {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes background-fade-in {
    to {
      opacity: 32%;
      translate: 0 0;
    }
  }
  @keyframes story-timeline {
    from {
      left: 100%;
    }
    to {
      left: 0px;
    }
  }
  @keyframes interactive-element-pop-up {
    to {
      scale: 1;
    }
  }
  @keyframes skills-headers-pop-up {
    0% {
      translate: 0 96px;
    }
    40%, 60% {
      translate: 0 -32px;
    }
    80% {
      translate: 0 16px;
    }
    100% {
      translate: 0 0;
    }
  }
  @keyframes first-project {
    from {
      scale: 0.6;
      translate: 320px 80px;
      opacity: 0;
    }
    to {
      scale: 0.9;
      translate: 160px 0px;
      opacity: 80%;
    }
  }
  @keyframes second-project {
    from {
      scale: 0.7;
      translate: 0px 80px;
      opacity: 0;
    }
    to {
      scale: 1;
      translate: 0px 0px;
      opacity: 100%;
    }
  }
  @keyframes third-project {
    from {
      scale: 0.6;
      translate: -320px 80px;
      opacity: 0;
    }
    to {
      scale: 0.9;
      translate: -160px 0px;
      opacity: 80%;
    }
  }
  .projects__content__list__card {
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range-start: entry;
    animation-range-end: entry 240px;
  }
  .projects__content__list__card:nth-child(1) {
    animation-name: first-project;
  }
  .projects__content__list__card:nth-child(2) {
    animation-name: second-project;
  }
  .projects__content__list__card:nth-child(3) {
    animation-name: third-project;
  }
}
@media screen and (prefers-reduced-motion: no-preference) and (min-width: 769px) {
  .skills__content__headers__element {
    animation-name: skills-headers-pop-up;
    animation-timeline: view();
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  .skills__content__headers__element:nth-child(1) {
    animation-range-end: entry 288px;
    animation-range-start: entry -96px;
  }
  .skills__content__headers__element:nth-child(2) {
    animation-range-end: entry 320px;
    animation-range-start: entry -64px;
  }
  .skills__content__headers__element:nth-child(3) {
    animation-range-end: entry 352px;
    animation-range-start: entry -32px;
  }
  .skills__content__headers__element:nth-child(4) {
    animation-range-end: entry 384px;
    animation-range-start: entry 0px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .--interactive-element-pop-up {
    scale: 0;
    animation-name: interactive-element-pop-up;
    animation-timeline: view();
    animation-range-start: entry 150px;
    animation-range-end: entry 300px;
    animation-fill-mode: forwards;
  }
  .--item-pop-up {
    scale: 0;
    animation-name: interactive-element-pop-up;
    animation-timeline: view();
    animation-range-start: entry 20px;
    animation-range-end: entry 120px;
    animation-fill-mode: forwards;
  }
  .story__content__timeline {
    animation-name: story-timeline;
    animation-timeline: view();
    animation-range: entry;
    animation-timing-function: ease-out;
  }
  .--background-fade-in {
    translate: 0 80px;
    animation-name: background-fade-in;
    animation-timeline: view();
    animation-range: entry;
    animation-fill-mode: forwards;
  }
  .hero__background {
    animation-name: hero-background-animation;
    animation-timeline: view();
    animation-range: exit;
  }
  .--animated {
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
  }
  .--text-fade-in {
    translate: 0 240px;
    opacity: 0;
    animation-name: text-fade-in;
  }
  .--image-fade-in {
    animation-name: image-fade-in;
    opacity: 0;
    scale: 0.8;
  }
  .--view-animated {
    animation-timing-function: linear;
    animation-timeline: view();
  }
  .--fade-out {
    animation-name: fade-out;
  }
  .--exit-view {
    animation-range: exit -200px;
    transform-origin: top;
  }
  .--entry-text {
    animation-range-start: entry 20px;
    animation-range-end: entry 240px;
    animation-fill-mode: forwards;
  }
  .--entry-item {
    animation-range-start: entry 20px;
    animation-range-end: entry 120px;
    animation-fill-mode: forwards;
  }
  .--entry-picture {
    animation-range-start: entry 20%;
    animation-range-end: entry;
    animation-fill-mode: forwards;
  }
}
.header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 48px 64px 16px 64px;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: all 100ms linear;
}
@media screen and (max-width: 768px) {
  .header {
    align-items: center;
    padding: 16px;
    left: 0;
    transform: unset;
    grid-template-columns: 1fr 1fr;
  }
}
.header.header--locked {
  padding: 8px 64px 8px 64px;
  background-color: var(--transparent-background);
  border-bottom: 1px solid var(--static-border);
  box-shadow: 0 0px 8px var(--static-border);
  backdrop-filter: blur(16px);
  transition: all 400ms linear;
}
@media screen and (max-width: 768px) {
  .header.header--locked {
    padding: 8px 16px;
  }
  .header.header--locked .header__logo {
    font-size: 32px;
  }
}
@media screen and (min-width: 769px) {
  .header.header--locked .header__nav__menu__element::before {
    content: "";
    background-color: var(--item);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    transition: all 200ms ease;
  }
  .header.header--locked:hover .header__nav__menu__element::before {
    opacity: 100%;
  }
}
.header .header__logo {
  font-family: "Space Mono";
  font-size: 40px;
  transition: all 200ms linear;
}
.header .header__nav {
  justify-self: end;
}
@media screen and (max-width: 768px) {
  .header .header__nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.header .header__nav .header__nav__opener {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header__nav .header__nav__opener {
    display: block;
    border-radius: 50%;
    transition: all 200ms ease-out;
    padding: 8px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
  }
  .header .header__nav .header__nav__opener > svg {
    width: 24px;
    height: 24px;
    color: var(--high-text);
    opacity: 100%;
    transition: all 200ms linear;
  }
  .header .header__nav .header__nav__opener.--changing > svg {
    opacity: 0%;
    scale: 0;
  }
  .header .header__nav .header__nav__opener:hover {
    background-color: transparent;
  }
  .header .header__nav .header__nav__opener:active {
    background-color: transparent;
  }
}
.header .header__nav .header__nav__menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .header .header__nav .header__nav__menu {
    grid-template-columns: 1fr;
    position: absolute;
    width: 128px;
    top: 44px;
    transition: all 300ms ease-out;
  }
  .header .header__nav .header__nav__menu.--close {
    right: -200px;
    top: -16px;
    padding: 64px 16px 16px 16px;
    height: 100vh;
    grid-template-rows: repeat(auto-fit, 40px);
  }
  .header .header__nav .header__nav__menu.--open {
    background-color: var(--item);
    border-left: 1px solid var(--static-border);
    box-shadow: 0 0px 8px var(--static-border);
    right: -16px;
    top: -16px;
    padding: 64px 16px 16px 16px;
    height: 100vh;
    grid-template-rows: repeat(auto-fit, 40px);
    z-index: 30;
  }
}
.header .header__nav .header__nav__menu .header__nav__menu__element {
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 100ms ease;
}
@media screen and (max-width: 768px) {
  .header .header__nav .header__nav__menu .header__nav__menu__element {
    text-align: left;
  }
  .header .header__nav .header__nav__menu .header__nav__menu__element a {
    width: 100%;
    box-sizing: border-box;
  }
}
.header .header__nav .header__nav__menu .header__nav__menu__element:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: var(--item-hover);
  animation-name: element-click;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}
.header .header__nav .header__nav__menu .header__nav__menu__element:active {
  background-color: var(--item-active);
}
.header .header__nav .header__nav__menu .header__nav__menu__element a {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
}
.header .toggle-button {
  padding: 0;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 400ms linear;
  margin-left: 11px;
}
@media screen and (max-width: 768px) {
  .header .toggle-button {
    margin-left: 8px;
  }
}
.header .header__nav-background {
  display: none;
}

@media screen and (max-width: 768px) {
  .header:has(.header__nav__menu) .header__nav-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--subtle-background);
    opacity: 0%;
    transition: all 200ms linear;
  }
  .header:has(.header__nav__menu.--open) .header__nav-background {
    opacity: 80%;
  }
}
footer {
  margin-top: 100px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 32px;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes element-click {
    0% {
      left: -100%;
      opacity: 0%;
    }
    100% {
      left: 0%;
      opacity: 100%;
    }
  }
  @keyframes text-fade-in {
    to {
      translate: 0 0;
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes fade-out {
    50%, 100% {
      opacity: 0;
      translate: 0 -40px;
    }
  }
  @keyframes hero-background-animation {
    85%, 100% {
      opacity: 0;
      scale: 3;
    }
  }
  @keyframes image-fade-in {
    to {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes background-fade-in {
    to {
      opacity: 32%;
      translate: 0 0;
    }
  }
  @keyframes story-timeline {
    from {
      left: 100%;
    }
    to {
      left: 0px;
    }
  }
  @keyframes interactive-element-pop-up {
    to {
      scale: 1;
    }
  }
  @keyframes skills-headers-pop-up {
    0% {
      translate: 0 96px;
    }
    40%, 60% {
      translate: 0 -32px;
    }
    80% {
      translate: 0 16px;
    }
    100% {
      translate: 0 0;
    }
  }
  @keyframes first-project {
    from {
      scale: 0.6;
      translate: 320px 80px;
      opacity: 0;
    }
    to {
      scale: 0.9;
      translate: 160px 0px;
      opacity: 80%;
    }
  }
  @keyframes second-project {
    from {
      scale: 0.7;
      translate: 0px 80px;
      opacity: 0;
    }
    to {
      scale: 1;
      translate: 0px 0px;
      opacity: 100%;
    }
  }
  @keyframes third-project {
    from {
      scale: 0.6;
      translate: -320px 80px;
      opacity: 0;
    }
    to {
      scale: 0.9;
      translate: -160px 0px;
      opacity: 80%;
    }
  }
  .projects__content__list__card {
    animation-timeline: view();
    animation-timing-function: linear;
    animation-range-start: entry;
    animation-range-end: entry 240px;
  }
  .projects__content__list__card:nth-child(1) {
    animation-name: first-project;
  }
  .projects__content__list__card:nth-child(2) {
    animation-name: second-project;
  }
  .projects__content__list__card:nth-child(3) {
    animation-name: third-project;
  }
}
@media screen and (prefers-reduced-motion: no-preference) and (min-width: 769px) {
  .skills__content__headers__element {
    animation-name: skills-headers-pop-up;
    animation-timeline: view();
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  .skills__content__headers__element:nth-child(1) {
    animation-range-end: entry 288px;
    animation-range-start: entry -96px;
  }
  .skills__content__headers__element:nth-child(2) {
    animation-range-end: entry 320px;
    animation-range-start: entry -64px;
  }
  .skills__content__headers__element:nth-child(3) {
    animation-range-end: entry 352px;
    animation-range-start: entry -32px;
  }
  .skills__content__headers__element:nth-child(4) {
    animation-range-end: entry 384px;
    animation-range-start: entry 0px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .--interactive-element-pop-up {
    scale: 0;
    animation-name: interactive-element-pop-up;
    animation-timeline: view();
    animation-range-start: entry 150px;
    animation-range-end: entry 300px;
    animation-fill-mode: forwards;
  }
  .--item-pop-up {
    scale: 0;
    animation-name: interactive-element-pop-up;
    animation-timeline: view();
    animation-range-start: entry 20px;
    animation-range-end: entry 120px;
    animation-fill-mode: forwards;
  }
  .story__content__timeline {
    animation-name: story-timeline;
    animation-timeline: view();
    animation-range: entry;
    animation-timing-function: ease-out;
  }
  .--background-fade-in {
    translate: 0 80px;
    animation-name: background-fade-in;
    animation-timeline: view();
    animation-range: entry;
    animation-fill-mode: forwards;
  }
  .hero__background {
    animation-name: hero-background-animation;
    animation-timeline: view();
    animation-range: exit;
  }
  .--animated {
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
  }
  .--text-fade-in {
    translate: 0 240px;
    opacity: 0;
    animation-name: text-fade-in;
  }
  .--image-fade-in {
    animation-name: image-fade-in;
    opacity: 0;
    scale: 0.8;
  }
  .--view-animated {
    animation-timing-function: linear;
    animation-timeline: view();
  }
  .--fade-out {
    animation-name: fade-out;
  }
  .--exit-view {
    animation-range: exit -200px;
    transform-origin: top;
  }
  .--entry-text {
    animation-range-start: entry 20px;
    animation-range-end: entry 240px;
    animation-fill-mode: forwards;
  }
  .--entry-item {
    animation-range-start: entry 20px;
    animation-range-end: entry 120px;
    animation-fill-mode: forwards;
  }
  .--entry-picture {
    animation-range-start: entry 20%;
    animation-range-end: entry;
    animation-fill-mode: forwards;
  }
}
.hero {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.hero .hero__content {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}
.hero .hero__content .hero__content__action {
  margin-top: 32px;
}
.hero .hero__content .hero__content__action a {
  text-decoration: none;
}
.hero .hero__background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 16%;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: relative;
}
.story .story__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}
.story .story__title {
  z-index: 2;
}
.story .story__content {
  position: relative;
  width: 100%;
  height: 320px;
}
@media screen and (max-width: 768px) {
  .story .story__content {
    height: 400px;
  }
}
.story .story__content__timeline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 64px;
  position: absolute;
  left: 0px;
  top: 0;
  transition: all 300ms ease-out;
}
@media screen and (max-width: 768px) {
  .story .story__content__timeline {
    height: 400px;
  }
}
.story .story__content__timeline .story__content__timeline__card > * {
  transition: all 100ms ease;
}
.story .story__content__timeline.story__content__timeline--moving .story__content__timeline__card > * {
  filter: blur(4px);
}
.story .story__content__timeline .story__content__timeline__card {
  background-color: var(--transparent-background);
  border: 1px solid var(--static-border);
  box-shadow: 0 0px 8px var(--static-border);
  border-radius: 8px;
  backdrop-filter: blur(8px);
  box-sizing: border-box;
  height: 100%;
  width: 480px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .story .story__content__timeline .story__content__timeline__card {
    width: 90vw;
  }
}
.story .story__content__timeline .story__content__timeline__card .story__content__timeline__card__content {
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .story .story__content__timeline .story__content__timeline__card .story__content__timeline__card__content {
    flex-direction: column;
  }
}
.story .story__content__timeline .story__content__timeline__card .story__content__timeline__card__content .story__content__timeline__card__content__picture {
  width: 120px;
}
.story .story__content__timeline .story__content__timeline__card .story__content__timeline__card__content .story__content__timeline__card__content__picture img {
  width: 120px;
}
@media screen and (max-width: 768px) {
  .story .story__content__timeline .story__content__timeline__card .story__content__timeline__card__content .story__content__timeline__card__content__picture {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .story .story__content__timeline .story__content__timeline__card .story__content__timeline__card__content .story__content__timeline__card__content__picture img {
    width: 80px;
  }
}
.story .story__navigation {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  padding: unset;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
.story .story__navigation.story__navigation--previous {
  left: 32px;
}
.story .story__navigation.story__navigation--next {
  right: 32px;
}
.story .story__navigation svg {
  height: 24px;
  width: 24px;
}
@media screen and (max-width: 768px) {
  .story .story__navigation {
    height: 40px;
    width: 40px;
  }
  .story .story__navigation.story__navigation--previous {
    left: 8px;
  }
  .story .story__navigation.story__navigation--next {
    right: 8px;
  }
  .story .story__navigation svg {
    height: 20px;
    width: 20px;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  max-width: 960px;
  min-height: 500px;
  margin: 0 auto 32px auto;
}
@media screen and (max-width: 768px) {
  .skills {
    min-height: 760px;
  }
}
.skills .skills__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skills__content .skills__content__headers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 8px;
}
.skills .skills__content .skills__content__headers .skills__content__headers__element {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 8px 0;
  border-top: 1px solid var(--interactive-border);
  border-left: 1px solid var(--interactive-border);
  border-right: 1px solid var(--interactive-border);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 0px 8px var(--interactive-border);
  background-color: var(--transparent-background);
  backdrop-filter: blur(8px);
  z-index: 1;
  cursor: pointer;
  color: var(--low-text);
  transition: all 200ms ease;
}
.skills .skills__content .skills__content__headers .skills__content__headers__element:hover {
  background-color: var(--item-hover);
}
.skills .skills__content .skills__content__headers .skills__content__headers__element:active {
  background-color: var(--item-active);
}
.skills .skills__content .skills__content__headers .skills__content__headers__element.--current {
  background-color: var(--subtle-background);
}
.skills .skills__content .skills__content__headers .skills__content__headers__element.--covered {
  transform: translateY(8px);
  z-index: 1;
}
.skills .skills__content .skills__content__headers .skills__content__headers__element img {
  width: 32px;
}
@media screen and (max-width: 768px) {
  .skills .skills__content .skills__content__headers .skills__content__headers__element.--covered > span {
    display: none;
  }
}
.skills .skills__content .skills__content__descriptions {
  position: relative;
  width: 100%;
}
.skills .skills__content .skills__content__descriptions .skills__content__descriptions__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--subtle-background);
  border: 1px solid var(--interactive-border);
  display: grid;
  grid-template-areas: "logo title" "logo text";
  gap: 32px;
  transition: all 200ms ease;
}
.skills .skills__content .skills__content__descriptions .skills__content__descriptions__element.--current {
  z-index: 2;
  box-shadow: 0 0px 8px var(--interactive-border);
}
.skills .skills__content .skills__content__descriptions .skills__content__descriptions__element.--covered {
  z-index: 1;
  opacity: 0;
}
.skills .skills__content .skills__content__descriptions .skills__content__descriptions__element.--changing > * {
  filter: blur(8px);
}
.skills .skills__content .skills__content__descriptions .skills__content__descriptions__element .skills__content__descriptions__element__img {
  width: 160px;
  grid-area: logo;
}
@media screen and (max-width: 768px) {
  .skills .skills__content .skills__content__descriptions .skills__content__descriptions__element .skills__content__descriptions__element__img {
    width: 120px;
    justify-self: center;
  }
}
.skills .skills__content .skills__content__descriptions .skills__content__descriptions__element .skills__content__descriptions__element__title {
  grid-area: title;
}
.skills .skills__content .skills__content__descriptions .skills__content__descriptions__element .skills__content__descriptions__element__text {
  grid-area: text;
}
@media screen and (max-width: 768px) {
  .skills .skills__content .skills__content__descriptions .skills__content__descriptions__element {
    grid-template-areas: "title" "logo" "text";
  }
}

.projects {
  min-height: 600px;
  display: grid;
  gap: 64px;
  position: relative;
}
.projects .projects__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .projects__title {
  text-align: center;
}
.projects .projects__content {
  position: relative;
}
@media screen and (min-width: 769px) {
  .projects .projects__content {
    height: 584px;
  }
}
.projects .projects__content .projects__content__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media screen and (min-width: 769px) {
  .projects .projects__content .projects__content__list {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .projects .projects__content .projects__content__list {
    grid-template-columns: 1fr;
  }
}
.projects .projects__content .projects__content__list .projects__content__list__card {
  display: grid;
  box-sizing: border-box;
  padding: 32px;
  border: 1px solid var(--static-border);
  border-radius: 8px;
  box-shadow: 0 0px 8px var(--interactive-border);
  background-color: var(--subtle-background);
  z-index: 2;
  filter: blur(0px);
  transition: all 300ms ease-out;
}
@media screen and (min-width: 769px) {
  .projects .projects__content .projects__content__list .projects__content__list__card {
    width: 140%;
    translate: -14% !important;
  }
  .projects .projects__content .projects__content__list .projects__content__list__card.--opening {
    z-index: 3 !important;
    scale: 1 !important;
    opacity: 100% !important;
    transition: all 100ms linear;
  }
  .projects .projects__content .projects__content__list .projects__content__list__card.--opening > * {
    filter: blur(8px) !important;
    transition: all 100ms linear;
  }
  .projects .projects__content .projects__content__list .projects__content__list__card:nth-child(1) {
    scale: 0.9;
    translate: 160px 0;
    z-index: 1;
    opacity: 80%;
    filter: blur(1px);
  }
  .projects .projects__content .projects__content__list .projects__content__list__card:nth-child(1):hover {
    scale: 1;
    opacity: 100%;
    filter: blur(0px);
    z-index: 3;
  }
  .projects .projects__content .projects__content__list .projects__content__list__card:nth-child(1):hover + .projects__content__list__card {
    scale: 0.9;
    z-index: 2;
    opacity: 80%;
    filter: blur(1px);
  }
  .projects .projects__content .projects__content__list .projects__content__list__card:nth-child(1):hover + .projects__content__list__card + .projects__content__list__card {
    opacity: 40%;
    filter: blur(2px);
    scale: 0.8;
  }
  .projects .projects__content .projects__content__list .projects__content__list__card:nth-child(1):has(+ .projects__content__list__card + .projects__content__list__card:hover) {
    opacity: 40%;
    filter: blur(2px);
    scale: 0.8;
  }
  .projects .projects__content .projects__content__list .projects__content__list__card:nth-child(2):has(+ .projects__content__list__card:hover) {
    scale: 0.9;
    z-index: 1;
    opacity: 80%;
    filter: blur(1px);
  }
  .projects .projects__content .projects__content__list .projects__content__list__card:nth-child(3) {
    scale: 0.9;
    translate: -160px 0;
    z-index: 1;
    opacity: 80%;
    filter: blur(1px);
  }
  .projects .projects__content .projects__content__list .projects__content__list__card:nth-child(3):hover {
    scale: 1;
    opacity: 100%;
    filter: blur(0px);
    z-index: 2;
  }
}
.projects .projects__content .projects__content__list .projects__content__list__card .projects__content__list__card__picture {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.projects .projects__content .projects__content__list .projects__content__list__card .projects__content__list__card__title {
  margin-top: 16px;
}
.projects .projects__content .projects__content__list .projects__content__list__card .projects__content__list__card__description {
  margin-top: 16px;
}
.projects .projects__content .projects__content__list .projects__content__list__card .projects__content__list__card__action {
  margin-top: 32px;
}

.ReactModal__Overlay {
  background-color: transparent !important;
  z-index: 100;
}

.project-modal {
  transition: all 200ms linear;
  box-sizing: border-box;
  border-radius: 8px;
  position: fixed;
  opacity: 0%;
  padding: 64px;
  color: var(--high-text);
  background: var(--subtle-background);
  text-align: center;
  border: 1px solid var(--static-border);
  box-shadow: 0 0 15px var(--static-border);
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  gap: 32px;
  grid-template-areas: "modal-image modal-title modal-title" "modal-image modal-subtitle modal-date" "modal-image modal-description modal-description" "modal-image modal-type modal-technologies" "modal-image modal-functionalities modal-functionalities";
}
.project-modal * {
  transition: all 200ms ease-out;
  text-align: left;
}
.project-modal p {
  max-width: unset;
}
.project-modal > .--category,
.project-modal .project-modal__picture {
  filter: blur(8px);
}
.project-modal > .--category {
  opacity: 0%;
  background-color: var(--item);
  width: 100%;
  padding: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 1px solid var(--static-border);
  box-sizing: border-box;
  position: relative;
}
.project-modal > .--category .--category__name {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 14px;
  color: var(--low-text);
  font-weight: 700;
  opacity: 72%;
}
.project-modal .project-modal__picture {
  opacity: 0%;
  grid-area: modal-image;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.project-modal .project-modal__title {
  grid-area: modal-title;
}
.project-modal .project-modal__title .project-modal__link {
  font-family: "Montserrat";
  font-size: 16px;
  margin-left: 32px;
  font-weight: 400;
}
.project-modal .project-modal__subtitle {
  grid-area: modal-subtitle;
}
.project-modal .project-modal__type {
  grid-area: modal-type;
}
.project-modal .project-modal__description {
  grid-area: modal-description;
}
.project-modal .project-modal__date {
  grid-area: modal-date;
}
.project-modal .project-modal__technologies {
  grid-area: modal-technologies;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
  gap: 16px;
}
.project-modal .project-modal__technologies div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.project-modal .project-modal__technologies div img {
  width: 32px;
}
.project-modal .project-modal__functionalities {
  grid-area: modal-functionalities;
}
.project-modal .project-modal__close {
  position: absolute;
  opacity: 100%;
  top: 32px;
  right: 32px;
  cursor: pointer;
}
.project-modal .project-modal__close svg {
  height: 32px;
  width: 32px;
}

.contact .contact__content {
  display: flex;
  gap: 64px;
}
@media screen and (max-width: 768px) {
  .contact .contact__content {
    flex-direction: column;
    gap: 32px;
  }
}
.contact .contact__content .contact__content__image {
  flex: 1;
}
.contact .contact__content .contact__content__ways {
  flex: 1;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.contact .contact__content .contact__content__ways .contact__content__ways__list {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.contact .contact__content .contact__content__ways .contact__content__ways__list .contact__content__ways__list__element {
  width: 100%;
  height: 48px;
}
.contact .contact__content .contact__content__ways .contact__content__ways__list .contact__content__ways__list__element a {
  display: inline-block;
  background-color: var(--item);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 8px;
  text-decoration: none;
}
.contact .contact__content .contact__content__ways .contact__content__ways__list .contact__content__ways__list__element a:hover {
  background-color: var(--item-hover);
}
.contact .contact__content .contact__content__ways .contact__content__ways__list .contact__content__ways__list__element a:active {
  background-color: var(--item-active);
}
.contact .contact__content .contact__content__ways .contact__content__ways__list .contact__content__ways__list__element a svg:nth-child(3) {
  scale: 0.8;
  translate: -4px -4px;
}

a {
  color: unset;
}

html {
  scroll-behavior: smooth;
}

* {
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

body {
  background-color: var(--app-background);
  color: var(--high-text);
  font-family: "Montserrat";
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  font-family: "Montserrat Alternates";
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  font-family: "Montserrat Alternates";
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  font-family: "Montserrat Alternates";
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 16px;
  }
}

p {
  margin: 0;
  max-width: 600px;
}

section {
  padding: 80px 128px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  section {
    padding: 64px 16px;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
  }
}
section h1 {
  z-index: 2;
}

button {
  height: 48px;
  padding: 0 16px;
  font-family: "Montserrat";
  font-size: 16px;
  background-color: var(--action);
  color: var(--button-text);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 200ms ease;
}
@media screen and (max-width: 768px) {
  button {
    font-size: 14px;
  }
}
button:hover {
  background-color: var(--action-hover);
}
button:active {
  background-color: var(--action);
}

/*# sourceMappingURL=style.css.map */
